body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}




main {
    margin-top: 5vh;
    border: solid 1px rgb(197, 196, 196);
    padding: 2rem;
    width: 40vw;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
}

.form-group input {
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}





.d-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
header {
    background-color: #ffe7e7;
    color: #fff;
    padding: 1rem;
    border-bottom: #d3d0d0 1px solid ;
}

.btn {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    padding: 10px 20px; 
    font-size: 16px; 
    border-radius: 5px; 
}

.btn:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    padding: 10px 20px; 
    font-size: 16px; 
    border-radius: 5px; 
}

.btn-success:hover {
    background-color: #218838;
    border-color: #218838;
}
